{% extends 'base.html' %}

{% block title %}Car Price Prediction{% endblock %}

{% block content %}
  <h2>Cars</h2>

  <p>
    <a href="{% url 'cpp:userpreference_add' %}">Add car</a>
  </p>

  <table border="1">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Series</th>
        <th>Model</th>
      </tr>
    </thead>
    <tbody>
      {% for userpreference in userpreferences %}
        <tr>
          <td>{{ userpreference.brand.brand_name }}</td>
          <td>{{ userpreference.series.series_name }}</td>
          <td>{{ userpreference.model.model_name }}</td>
        </tr>
      {% empty %}
        <tr>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
