{% extends 'base.html' %}
{% block title %}Car Price Tracking List{% endblock %}
{% block content %}
 <h2>Car Price Tracking List</h2>
<table>
    <thead>
          <tr>
          <th>Market Percentage</th>
            <th>Start Date</th>
            <th>End Date</th>
          </tr>
    </thead>
    <tbody>
    {% for userpreference in userpreferences %}
        <tr>
            <td>{{ userpreference.percentage }}</td>
            <td>{{ userpreference.date_start }}</td>
            <td>{{ userpreference.date_finish }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<a class="solid" href="{% url 'cpp:price_tracking_add' %}">Add Tracking</a>
{% endblock %}
