{% extends 'base.html' %}
{% block title %}Car Price Prediction{% endblock %}
{% block content %}

  <h2>Car Price Prediction</h2>
    {{ user.user_name }}
  <form method="post" id="userpreferenceForm" data-load-url="{% url 'cpp:ajax_load_dropdown' %}"novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
    <a href="{% url 'cpp:userpreference_changelist'%}">Nevermind</a>
  </form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_brand").change(function () {
      var url = $("#userpreferenceForm").attr("data-load-url");
      var brandId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'brand': brandId,
        },
        success: function (data) {
            console.log(data);
          $("#id_series").html(data);
        }
      });

    });
     $("#id_series").change(function () {
          var url = $("#userpreferenceForm").attr("data-load-url");
          var seriesId = $(this).val();
          $.ajax({
            url: url,
            data: {
                'series': seriesId
            },
            success: function (data) {
                console.log(data);
              $("#id_model").html(data);
            }
          });

        });
  </script>

{% endblock %}
